@import 'colors';

.demo {
  &.reveal {
    position: absolute;
  }

  .demo-chart {
    background: $white;

    &.demo-chart__half {
      width: 50%;
    }

    &.demo-chart__center {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
